.Hotels {
    text-align: center;
    background-color: inherit;
    color: red;
  }
  
  
  
  .movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 2rem;
  }
  
  .search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  
  input[type="submit"] {
    padding: 5px;
    background-color: #FFA500;
    color: black;
    border: 1px solid #FFA500;
    width: 90px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  
  input[type="submit"]:hover {
    background-color: #282c34;
    color: antiquewhite;
  }
  
  
  .search > input[type="text"]{
    width: 40%;
    min-width: 170px;
  }
 
 .App-header{
    background-color:black;
    color: red;
 }
 .Videoss {
  text-align: center;
  width: 20rem;
}

